.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .other-content {
    margin-left: 37%;
  }
  
  .email-field {
    margin-left: 50%;
  }
  
  .email-label {
    margin-right: 22rem;
    font-size: 1rem;
  }
  
  .send-button {
    border-radius: 10px;
    margin-left: 70rem;
    padding: 5px;
    width: 80px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
  }
  