.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b0d2cb;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 -200px;
    font-family: cursive;
  }
  
  .roleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    border-radius: 10px;
  }
  
  .roleItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .textField {
    margin: 1px;
    width: 25ch;
    background-color: white;
    color: black;
    border-radius: 18px;
    border-color: white;
  }
  
  .passwordContainer {
    display: flex;
    margin-right: 227px;
  }
  
  .genderContainer {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-top: -70px;
  }
  
  .genderText {
    margin-right: 330px;
  }
  
  .buttonContainer {
    margin-bottom: 192px;
    border-radius: 10px;
  }
  
  .button {
    border-radius: 10px;
    background-color: #6b8b85;
    color: white;
    font-size: 20px;
  }
  